header {
	background-color: none;
	position: absolute;
	padding-top: 1.5em;
}
header h1 {
	font-family: 'Open Sans', sans-serif;
	color: white;
	font-weight: bold;
	font-size: 1em;
}
footer {
	font-family: 'Open Sans', sans-serif;
    height: 55px;
	background-color: #036;
	text-align:center;
	color: white;
	margin-top:125px;
	border-top: white;
	padding-top: 1em;
	width:100%;
	position:absolute;
	bottom:0px;
}

/* HERO /////////////////////////////////////////////////////////////////////*/

.hero {
	height: 100vh;
	padding: 200px 0px;
	background-image:radial-gradient(circle at 61.25% 80.18%, #00d2ff, transparent 100%),radial-gradient(circle at 28.91% 22.41%, #4490fa, transparent 100%),radial-gradient(circle at 50% 50%, #b8b8b8, #b8b8b8 100%);
}
.hero img {
	width: 20em;
}
.hero h3 {
	font-family: 'Montserrat', sans-serif;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	color: white;
	padding-top: 1em;
}
.hero p{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.2em;
	color: white;
}
.hero .button.primary {
	border-color: white;
	color: white;
}
.button {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 32px;
}
.button.warning {
	background-color: #ffdd55;
}

/* MODAL ////////////////////////////////////////////////////////////////////*/

.reveal h3 {
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 1em;
}

.reveal p {
	font-family: 'Open Sans', sans-serif;
}


/* FEATURES /////////////////////////////////////////////////////////////////*/

.feature {
	margin-top: 6em;
	margin-bottom: 6em;
}

.feature p {
	font-family: 'Open Sans', sans-serif;
	padding-right: 2em;
}
.small-text {
	font-size: 0.8em;
}
footer {
	background-color: #276aad;
}

/* REPSOINSIVE /////////////////////////////////////////////////////////////*/

/* Small only */
@media screen and (max-width: 39.9375em) {
	.hero {
		height: 100vh;
		padding-left: 1em;
		padding-right: 1em;
	}

	.hero img {
		width: 10em;
		margin-bottom: 2em;
	}
	.hero h3 {
		/*text-transform: uppercase;*/
		font-size: 1.5em;
		margin-bottom: 0.4em;
	}
	.hero p{
		font-weight: 300;
		margin-bottom: 1em;
	}
	.feature {
		margin-top: 2em;
		margin-bottom: 2em;
	}
	.feature .feature-image {
		padding: 2em;
	}
	.feature p {
		padding-right: 1em;
		padding-left: 1em;
	}
}

/* Medium and up */
@media screen and (min-width: 40em) {

}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

}

/* Large and up */
@media screen and (min-width: 64em) {

}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {

}

/* /////////////////////////////////////////////////// */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {


}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
	.hero {
		height: 100vh;
		padding-left: 1em;
		padding-right: 1em;
	}
	.hero img {
		width: 10em;
		margin-bottom: 1em;
	}	

	.hero h3 {
		/*text-transform: uppercase;*/
		font-size: 1.5em;
		margin-bottom: 0.4em;
	}
	.hero p{
		font-weight: 300;
		margin-bottom: 1em;
	}
	.feature {
		margin-top: 2em;
		margin-bottom: 2em;
	}
	.feature .feature-image {
		padding: 2em;
	}
	.feature p {
		padding-right: 1em;
		padding-left: 1em;
	}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	.hero {
		height: 100vh;
		padding: 7em 0px;
		padding-left: 1em;
		padding-right: 1em;

	}
	.hero img {
		width: 10em;
		margin-bottom: 0em;
	}

	.hero h3 {
		/*text-transform: uppercase;*/
		font-size: 1.3em;
		margin-bottom: 0.4em;
	}
	.hero p{
		font-size: 1em;
		font-weight: 300;
		margin-bottom: 1em;
	}

}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
	.hero {
		height: 100vh;
		padding: 6em 0px;
		padding-left: 1em;
		padding-right: 1em;

	}
	.hero img {
		width: 11em;
		margin-bottom: 1em;
	}	


}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) {
	.hero {
		height: 100vh;
		padding: 6em 0px;
		padding-left: 1em;
		padding-right: 1em;

	}
	.hero img {
		width: 11em;
		margin-bottom: 1em;
	}	


}


/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
	.hero img {
		width: 8em;
		margin-bottom: 1em;
	}	

}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
	.hero img {
		width: 8em;
		margin-bottom: 2em;
	}

}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
	.hero {
		height: 100vh;
		padding: 7em 0px;
		padding-left: 1em;
		padding-right: 1em;
	}
	.hero img {
		width: 10em;
		margin-bottom: 1em;
	}	
	.hero h3 {
		/*text-transform: uppercase;*/
		font-size: 1.3em;
		margin-bottom: 0.4em;
	}
	.hero p{
		font-size: 1em;
		font-weight: 300;
		margin-bottom: 1em;
	}
	.feature {
		margin-top: 2em;
		margin-bottom: 2em;
	}
	.feature .feature-image {
		padding: 2em;
	}
	.feature p {
		padding-right: 1em;
		padding-left: 1em;
	}

}

